.table{
    margin-top: 20px;


    


    .search-input {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        justify-content: end;
        input{
            width: 222px;
            padding: 9px 10px 9px 59px;
            background: #e0e0e085;
            border: none;
            border-radius: 50px;
            height: 44px;
        }
        i{
            position: absolute;
            top: 16px;
            // left: 16px;    
            right: 180px;
            
        }
      }
    img{
        width: 100px;
    }
    
    button{
        cursor: pointer;
        padding: 7px 22px;
        background: white;
        font-weight: 700;
        border: 1px solid black;
        border-radius: 2px;
        &:hover{
            transition: 0.5s;
            background-color: red;
            border-color: red;
            color: white;
        }
    }
    
}

.pagination{
    display: flex;
    flex-direction: row;
    margin: 13px 62px;
    justify-content: end;
    i{
        margin: 0 10px;
        cursor: pointer;
    }
}

.informative-block{     
    margin-top: 15px;
    display: flex ;
    justify-content: center ; 
    .title{
    text-align: center;
    font-size: 23px;
    }
    }